<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cryingonion.instashop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        
        <activity
            android:name="com.cryingonion.instashop.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cryingonion.instashop.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.cryingonion.instashop.InstagramActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="timetoplaytoys"
                    android:scheme="oauth2client" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cryingonion.instashop.TimelineActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cryingonion.instashop.ListFollowsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cryingonion.instashop.SearchPeopleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cryingonion.instashop.ListProductActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cryingonion.instashop.instagram.InstagramVideoDetailActivity"
            android:label="@string/app_name" >
        </activity>
        
        
<!--         <fragment -->
<!--             android:name="com.cryingonion.instashop.TimelineFragment" -->
<!--             android:label="@string/title_fragment_setting" > -->
<!--         </fragment> -->
<!--         <fragment -->
<!--             android:name="com.cryingonion.instashop.DiscoverFragment" -->
<!--             android:label="@string/title_fragment_discover" > -->
<!--         </fragment> -->
<!--         <fragment -->
<!--             android:name="com.cryingonion.instashop.RecommendationFragment" -->
<!--             android:label="@string/title_fragment_recommendation" > -->
<!--         </fragment> -->
<!--         <fragment -->
<!--             android:name="com.cryingonion.instashop.WishlistFragment" -->
<!--             android:label="@string/title_fragment_wishlist" > -->
<!--         </fragment> -->
<!--         <fragment -->
<!--             android:name="com.cryingonion.instashop.ProfileFragment" -->
<!--             android:label="@string/title_fragment_profile" > -->
<!--         </fragment> -->
<!--         <fragment -->
<!--             android:name="com.cryingonion.instashop.SettingFragment" -->
<!--             android:label="@string/title_fragment_setting" > -->
<!--         </fragment> -->
    </application>

</manifest>
